@media all {
    .page-break {
      display: none;
    }
  }
  
  @media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }
  
  @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-before: auto;
    }
  }

  @media print {
    @page { size: landscape; }
  }

  @media print {
    body {margin-top: 50mm; margin-bottom: 50mm; 
          margin-left: 0mm; margin-right: 0mm}
    footer {page-break-after: always;}

}
  
  @page {
    size: auto;
    margin-top: 5cm;
    margin-bottom: 5cm;
  }

  .page-break {
    page-break-after: always;
    page-break-inside: avoid;
    clear:both;
}


  